<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2024 CNN group. </a></p>
              <p>We are part of the <a href="https://eng.unimelb.edu.au/">Faculty of Engineering and Information Technology (FEIT)</a> at the<a href="https://www.unimelb.edu.au/"> The University of Melbourne (UoM)</a>.</p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		  Funding:<br />
      - Discovery Early Career Researcher Award (DECRA) from the <a href="https://www.arc.gov.au/">ARC</a><br />
	- Melbourne Postoctoral Fellowship from the <a href="https://sites.research.unimelb.edu.au/research-funding/researcher-development-schemes/melbourne-postdoctoral-fellowships">UoM</a><br />	
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
